@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

article{
  max-width: 1160px;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "who who where"
    "what-do what-like what-will";
}

#who{
  grid-area: who;
}

#where{
  grid-area: where;
}

#what-do{
  grid-area: what-do;
}

#what-like{
  grid-area: what-like;
}

#what-will{
  grid-area: what-will;
}
