@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

#wrapper{
  position: relative;
  width: 90%;
  margin: 0 auto;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-image: url("../img/fancy-bg.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-attachment: scroll;
}

header{
  color: #fff;
  padding-bottom: 0.5em;
  position: relative;
}

main {
  font-size: 18px;
  background-color: rgba(255,255,255,0.4);
  height: 100%;
}

h1{
  font-size: 0px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h2 a{
  color: #000;
  background-color: #fff;
}

h2 a:hover{
  color: #fff;
  background-color: #713be3;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background: #fff;
  color: #713be3;
}
                      /*NAV STYLE STARTS HERE*/
nav {
  position: fixed;
  top: 0;
  width: 90%;
  margin: 0 auto;
}

nav > ul {
  margin-top: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.1fr 6.9fr;
  text-align: center;
}

nav ul {
  padding-left: 0;
}

ul > li {
  display: inline-block;
  position: relative;
}

ul > li > ul {
  display: none;
}

ul > li:hover > ul {
  display: block;
  position: absolute;
}

ul > li > ul > li {
  display: block;
}

nav ul {
  background-color: #713be3;
}

li > a {
  display: block;
  padding: 10px;
}

ul > li > ul > li {
  background: #eee;
  border-top: 1px solid #ccc;
}

ul > li > ul > li > a {
  color: #fff;
  background-color: rgba(118, 69, 223, 0.8);
}

ul > li > ul > li > a:hover {
  color: rgb(118, 69, 223);
  background-color: #fff;
}
                      /*NAV STYLE ENDS HERE*/
                      /*FOOTER STYLE STARTS HERE*/
footer {
  position: fixed;
  bottom: 0;
  color: #fff;
  background-color: #713be3;
  width: 90%;
  align-items: baseline;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "contact call email telegram more";
}

footer > ul {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  text-align: center;
}

footer > ul > li{
  padding-left: 10px;
  padding-right: 10px;
}

footer ul {
  padding-left: 0;
  background-color: #713be3;
}

#contact{
  position: relative;
  right: 20px;
  grid-area: contact;
}

#call{
  position: relative;
  right: 20px;
  grid-area: call;
}

#email{
  position: relative;
  right: 20px;
  grid-area: email;
}

#telegram {
  position: relative;
  right: 20px;
  grid-area: telegram;
}

#more{
  position: relative;
  right: 20px;
  grid-area: more;
}
                      /*FOOTER STYLE ENDS HERE*/
                      /* HOME STYLE STARTS HERE  */
#home main{
  z-index: -1;
  width: 81%;
  position: relative;
  top: -10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 250px 50%;
  grid-gap: 25px;
  grid-template-areas:
    "photo-of-me welcome-message";
  margin-top: 35px;
  padding-left: 20%;
}

#home main img{
  grid-area: photo-of-me;
  margin-top: 50%;
  z-index: 0;
  position: relative;
  padding-bottom: 0;
}

#home main p{
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

#home main h2{
  text-align: center;
  padding-top: 100px;
}

#home main article{
  grid-area: welcome-message;
}
                      /* HOME ME STYLE ENDS HERE  */

                      /* ABOUT ME STYLE STARTS HERE  */
#about main{
  width: 90%;
  padding-left: 10%;
  padding-top: 8%;
  padding-right: 13px;
  padding-bottom: 0;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "who who where"
    "what-do what-like what-will";
}

#who{
  grid-area: who;
}

#where{
  grid-area: where;
}

#what-do{
  grid-area: what-do;
}

#what-like{
  grid-area: what-like;
}

#what-will{
  grid-area: what-will;
}
                      /* ABOUT ME STYLE ENDS HERE  */

                      /* SOCIAL LIFE STYLE STARTS HERE  */
#social-life main{
  padding-left: 7%;
  width: 94%;
}

#social-life section{
  max-width: 1160px;
  padding-top: 10px;
  display: grid;
  padding-left: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}

#social-life article a:hover {
  background: none;
}

#social-life section img{
  max-width: 350px;
  max-height: 350px;
}

#item-1{
  grid-area: item1;
}

#item-2{
  grid-area: item2;
}

#item-3{
  grid-area: item3;
}

#item-4{
  grid-area: item4;
}

#item-5{
  grid-area: item5;
}

#item-6{
  grid-area: item6;
}

#social-life article{
  max-width: 1160px;
  padding-top: 10px;
  padding-left: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  padding-bottom: 120px;
}

#social-life h2{
  padding-top: 35px;
  text-align: center;
}

svg{
  max-width: 35%;
  max-height: 35%;
}

#fa-spotify{
  color: rgb(101,210,110);
}

#fa-twitter{
  color: rgb(0, 172, 238);
}

#fa-instagram {
  color: rgb(171, 52, 168);
}

#fa-vk{
  color: rgb(78, 125, 178);
}

#fa-linkedin-in{
  color: rgb(40, 102, 171);
}

#fa-facebook{
  color: rgb(60, 90, 153);
}
                      /* SOCIAL LIFE STYLE ENDS HERE  */

                      /* RESUME STYLE STARTS HERE  */
#resume{
  width: 91%;
  padding-left: 10%;
  padding-top: 35px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 25px;
  grid-template-areas:
    "edu skills"
    "exp skills";
  padding-bottom: 100px;
}

#resume section article p{
  line-height: 22px;
}

#education{
  grid-area: edu;
}

#expirience{
  grid-area: exp;
}

#skills{
  grid-area: skills;
}

.skills>ol{
  list-style: unset;
}

.skills>ol>li>ol{
  list-style: circle;
}
                      /* RESUME STYLE ENDS HERE  */
