@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

#wrapper{
  height: 100%;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/fancy-bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  color: #fff;
  padding-bottom: 0.5em;
  position: relative;
  top: 0;
}

h1{
  font-size: 1px;
}
                                /*NAV STYLE STARTS HERE*/
nav {
  position: fixed;
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
}

nav > ul {
  margin-top: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.1fr 6.9fr;
  text-align: center;
}

nav ul {
  padding-left: 0;
}

ul > li {
  display: inline-block;
  position: relative;
}

ul > li > ul {
  display: none;
}

ul > li:hover > ul {
  display: block;
  position: absolute;
}

ul > li > ul > li {
  display: block;
}

nav ul {
  background-color: #713be3;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background: #fff;
  color: #713be3;
}

li > a {
  display: block;
  padding: 10px;
}

ul > li > ul > li {
  background: #eee;
  border-top: 1px solid #ccc;
}

ul > li > ul > li > a {
  color: #fff;
  background-color: rgba(118, 69, 223, 0.8);
}

ul > li > ul > li > a:hover {
  color: rgb(118, 69, 223);
  background-color: #fff;
}
                                /*NAV STYLE ENDS HERE*/

                                /*FOOTER STYLE STARTS HERE*/
footer {
  position: static;
  z-index: auto;
  bottom: 0;
  max-width: 1280px;
  margin: 0 auto;
}

footer p{
  position: relative;
  left: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

footer > ul {
  margin-top: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 5.9fr;
  text-align: center;
}

footer > p {
  margin-top: 0;
  text-align: center;
}

footer ul {
  padding-left: 0;
}

footer ul {
  background-color: #713be3;
}
                                /*FOOTER STYLE ENDS HERE*/
main {
  font-size: 18px;
  padding-bottom: 200px;
  background-color: rgba(255,255,255,0.5);
  padding-left: 20px;
}

footer {
  color:#fff;
  position: absolute;
  bottom: 0;
  background-color: #713be3;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    "contact phone email telegram more";
  align-items: baseline;
}

.skills>ol{
  list-style: unset;
}

.skills>ol>li>ol{
  list-style: circle;
}

#contact {
  grid-area: contact;
}

#phone {
  grid-area: phone;
}

#email {
  grid-area: email;
}

#telegram {
  grid-area: telegram;
}

#more {
  grid-area: more;
}
